* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chatApp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
}

.chatHistory {
  text-align: center;
  flex-basis: 100%;
  width: 70%;
  height: 50vh;
  overflow: auto;
}
.chatBubble {
  display: inline-block;
  width: 40%;
  border-radius: 10px;
  height: auto;
  overflow-wrap: break-word;
  margin: 10px;
  padding: 10px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}
.enterMessage {
  padding: 20px;
  width: 50%;
}

.btnSubmit {
  padding: 20px;
  margin-left: 10px;
}
