* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("./media/pexels-hristo-fidanov-1252873.jpg");
  background-size: cover;
  background-position: center;
}

.auth,
.room {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 30%;
  backdrop-filter: blur(10px);
  background-color: #ffffff2b;
  border-radius: 20px;
  padding: 20px;
}

.auth p {
  flex-basis: 100%;
  text-align: center;
  color: white;
}
.auth h1,
.room label {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  flex-basis: 100%;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(35 128 189);
  color: white;
  margin: 10px;
}

.btn:hover {
  background-color: rgba(98, 113, 255, 0.8);
}

.room input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 5px;
  flex-basis: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 70vh;
  overflow-y: auto;
  backdrop-filter: blur(10px);
  margin-bottom: 10px;
  background-color: #ffffff2b;
  border-radius: 20px;
}
.chat-bubble {
  margin: 10px;
  display: inline-block;
  position: relative;
  width: 200px;
  max-height: 400px;
  background-color: lightyellow;
  border-radius: 10px;
  padding: 10px;
  word-wrap: break-word;
  overflow: auto;
  flex-shrink: 0;
}
.sent {
  align-self: flex-end;
}

.received {
  align-self: flex-start;
}
.welcome-msg {
  color: #dcf0fd;
  margin-bottom: 10px;
}

.chat-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.input-message {
  padding: 10px;
  border: none;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  flex-basis: 90%;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: right;
  backdrop-filter: blur(10px);
  margin-bottom: 10px;
  background-color: #ffffff2b;
  border-radius: 20px;
  padding: 10px;
  border-radius: 10px;
}

.logout-span {
  color: #ffffffb8;
  font-size: 12px;
}

.logout-span:hover {
  cursor: pointer;
}

.logout-container {
  text-align: center;
}
