* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.auth,
.room {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 30%;
  flex-wrap: wrap;
  background-color: rgba(84, 139, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.auth p {
  flex-basis: 100%;
  text-align: center;
  color: white;
  font-size: 1.3rem;
}
.auth h2,
.room label {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  flex-basis: 100%;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(39, 59, 245, 0.8);
  color: white;
  margin: 10px;
}

.btn:hover {
  background-color: rgba(98, 113, 255, 0.8);
}

.room input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 5px;
  flex-basis: 100%;
}

.chat-container {
  display: flex;
}
.chat-bubble {
  margin: 10px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  background-color: lightyellow;
  border-radius: 10px;
  padding: 10px;
}

.input-message {
  padding: 10px;
  border: none;
  margin-right: 5px;
  border-radius: 10px;
  flex-basis: 90%;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: rgba(84, 139, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
}
